.heading{
    font-weight: 600;
    text-align: center;
}

.sub-heading{
    color:#717d94;
    text-align: center;
}

.label {
    color: #58606e;
    font-weight: 600;
}


input{
    width: 380px !important;
}
button{
    width: 380px;
}

.input-container{
    margin-bottom: 20px;
}